<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <connectionStrings>
    <add name="DbConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=AkkaNetResults;Integrated Security=True" />
    <add name="PersistenceConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=AkkaPersistence;Integrated Security=True" />
  </connectionStrings>
</configuration>